body
{
    background-color:#0044ff;
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
   font-weight: bold;
}
.sec
{
   background-color: #93c5fd;
   height: 50px;
   width: 100%;
   text-align: center;
}

.name
{
   padding-left: 10px;
   margin-top: 10px;
    font-size: 30px;
    text-shadow:1px 2px 2px red;
}
.f
{
   margin-top: 20px;
   font-size: 30px;
   text-shadow:1px 2px 2px red;  
}
.a
{
    border-radius: 50%;
    border-style: solid;
    border-color: orange;
    border-width: 6px;
    height: 50px;
    width: 50px;
}
.maindiv
{
   display:flex;
   justify-content: space-between;
   background-color: rgb(246, 195, 248);
   height: 60px;
   width: 100%;
   
}
nav ul li
{
    display: inline-block;
    margin: 5px;
}
li:hover
{
    background-color:rgb(195, 157, 216);
    border: solid black;
    border-radius: 3px;
   
}
li
{
   font-weight: bold;
   font-size: larger;
}
ul a{
    text-decoration: none;
    padding-right: 20px;
}
 

 .i
 {
    border-radius: 50%;
    border: 10px solid orange;
    margin: 80px 0 0 50px;
    box-shadow:10px 10px 25px 10px black;
    
    
 }
 
 .t
 {
    width: 50%;
    float: right;
    
 }
.d 
 {
    
    width: 50%;
   float: left;
   
 }

 marquee
 {
    float: right;
    padding-right: 300px;
    margin-top: 20%;
    color: black;
    text-shadow: 1px 2px 2px red;
    font-size: 40px;
    font-style: italic;
 }

 h2
 {
   margin-top:40%;
   padding-right: 30%;   
   font-style: italic;
   line-height: 40px;
   letter-spacing: 0.5px;
   text-align: justify;
   width: 620px;
   padding: 10px;
   border: 5px;
   margin: 280px 0px 0px 0px;
   border-radius: 20px;
   background-color:#012182;
   color:#93c5fd;
   box-shadow:10px 10px 25px 10px black;
   font-size: 2em;
    
}
h2:hover
{
   background-color:white;
}
#emoji
{
  padding-left: 580px; 
}
.s
{
   margin: 0;
   padding: 0;
}
marquee
{
   margin: 0;
}
button
{
   margin: 50px 0px 0px 650px;
   height: 50px;
   width: 200px;
   border: 4px solid;
   border-radius: 10px;
   font-size: 16px;
   font-weight: bold;
   margin-bottom: 70px;
   background-color: rgb(217, 239, 196);
   box-shadow:1px 10px 10px 1px black;
}
a
{
   text-decoration: none;
   color: black;
}

button:hover
{
   background-color: #93c5fd;
}
.q
{
   margin-top: 90px;
}

.v
{
   color:beige;
   font-size: 30px;
   text-shadow:1px 2px 2px rgb(243, 134, 0);  
   padding-left: 610px;
}
.w
{
   color:  rgb(243, 0, 105);
   font-size: 30px;
   text-shadow:1px 2px 2px rgb(0, 255, 255); 
   border: 4px solid white;
   border-radius: 20px;
   width: 220px;
   margin: 30px 0 0 630px;
   text-align: center;
   background-color: white;
   border-color: black;
   box-shadow:1px 10px 10px 1px rgb(0, 0, 0);

}
.w:hover
{
   background-color: rgb(15, 254, 11);
   border-color: black;
   box-shadow:1px 10px 10px 1px rgb(0, 0, 0);
}
.img
{
   margin: 50px 0 0 660px;  
   margin-bottom: 50px;
}
.n
{
   font-size: 30px;
   margin: 100px 0px 0px 600px;
   border: 5px solid black;
   border-radius: 20px;
   background-color: aqua;
   color:fuchsia;
   box-shadow:1px 10px 10px 1px rgb(0, 0, 0);
}

.n:hover
{
   font-size: 30px;
   margin: 100px 0px 0px 600px;
   border: 5px solid black;
   border-radius: 20px;
   background-color: mediumseagreen;
   color: slateblue;
   box-shadow:1px 10px 10px 1px rgb(0, 0, 0);
}
.m
{
   background-color:orangered;
   font-size: 40px;
   margin: 100px 0px 0px 0px;
   border: 5px solid white;
   border-radius: 20px;
   text-align: center;
   color:black;
   box-shadow:10px 10px 25px 10px rgb(0, 0, 0);
   
}

.m:hover
{
   background-color:rgb(102, 255, 0);
   font-size: 30px;
   margin: 100px 0px 0px 0px;
   border: 5px solid rgb(255, 0, 0);
   border-radius: 20px;
   text-align: center;
   color:white;
   font-size: 40px;
   box-shadow:10px 10px 25px 10px rgb(0, 0, 0);
}
.o
{
   border: 5px solid white;
   border-radius: 20px;
   font-size: 40px;
   background-color: white;
   border: 5px dotted black;
   box-shadow:10px 10px 25px 10px rgb(0, 0, 0);
}
.o i
{
   height: 0px;
   width: 0px;
   padding-left:280px;
   color: black;
}